.search-input{
width: 100px;
height:50px;
border: solid 1px;
border-radius: 10px  40px;
background-color: white;
margin-bottom: 20px;


}




.google{
margin:40px 20px 40px 20px;
width: 70px;
height: 70px;
}
.image{
background-position: center;
}
.search-input{
shape-rendering: crispEdges;
}



